@media (max-width: 700px) {
    #type {
        margin-top: 10px;
        align-self: flex-start !important;
        margin-left: 10px !important;
    }

    #date {
        margin-top: 10px;
        margin-left: 10px !important;
    }

    #menu {
        margin-bottom: 60px !important;
    }

    .tables {
        margin-left: 5px !important;
        margin-right: -20px !important;

    }

    .btn2 {
        margin-right: -20px;
    }

    strong {
        font-size: 14px !important;
        display: table-cell;
    }

    .tableswidth {
        width: 900px !important;
    }

    .buttonsposition {
        margin-left: -18px !important;
        margin-bottom: 10px;
    }
}